@{
    Layout = "Shared/_Layout.cshtml";
}

<h2>Welcome!</h2>
<h3>Latest News</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc libero tellus, semper ac cursus non, porta sit amet mi. Morbi sed ligula a mi viverra tristique. Nam sit amet dui consectetur, sollicitudin mauris id, finibus velit. Nunc viverra sodales dapibus. Fusce laoreet odio ac magna aliquam hendrerit. Vivamus malesuada tellus at enim euismod dignissim. Sed felis erat, imperdiet a risus sagittis, viverra consectetur leo. Morbi laoreet tellus ipsum, non rhoncus lectus ullamcorper a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc dapibus, felis non luctus convallis, magna odio suscipit nisi, fringilla interdum augue nibh at lectus. Proin vehicula erat id orci vehicula laoreet. Mauris id diam at nisi consequat vulputate ut quis diam. Nulla egestas, leo porttitor fermentum laoreet, sem dolor imperdiet nisl, id commodo sapien diam sed ex. Aliquam magna sem, lacinia vitae maximus et, tempor sed sem. Donec pellentesque vulputate lorem, nec lobortis arcu commodo nec.
</p>

<p>Vivamus fermentum elit vitae molestie sollicitudin. Donec hendrerit justo ut odio gravida, ut finibus purus faucibus. Vivamus volutpat felis eget ullamcorper vehicula. Nulla ullamcorper lorem et augue condimentum faucibus. Nullam sit amet sem velit. Fusce maximus sem eget ipsum feugiat, at accumsan lorem ultrices. Morbi magna neque, elementum eget finibus et, facilisis quis felis.
</p>

<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam ac elit placerat, dignissim lacus vitae, interdum erat. Praesent molestie at ligula a viverra. Sed mi libero, suscipit eget efficitur quis, aliquet et sapien. Phasellus vitae elementum sem. Vivamus consectetur auctor sem, sit amet pharetra dolor blandit et. Maecenas vehicula, leo a consequat sagittis, odio elit mollis neque, sit amet gravida nisl risus quis purus. Vivamus lobortis tortor sed vehicula ullamcorper.
</p>
