body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/Content/img/concert.jpeg");
    color: white;
    background-size: cover;
    background-position: center;
    font-size: 26px; 
}
main {
    flex: 1 0 auto;
}

#footer {
    background-color: #617B85;
}

#header {
    background-color: #617B85;
    height: 160%;
    padding-top: 2%;
}

#title {
    font-size: 80px;
    margin-left: 5%;
}

#rendered {
    padding-top: 10%;
}

#panel-items {
    font-size: 22px;
}

#editv, #editb {
    color: white !important;
}

purple complementary color: #616985

#88968B green
